@font-face {
    font-family: 'Georgia Pro';
    src: url('data/GeorgiaPro-CondSemiBold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Georgia Pro';
    src: url('data/GeorgiaPro-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Georgia Pro';
    src: url('data/GeorgiaPro-Light.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Georgia Pro';
    src: url('data/GeorgiaPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}




.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between; 
    padding: 0.8rem;
    width: 100%;
    box-sizing: border-box;
    left: 0;
     top: 0;
}

main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin-top: 100px;
}

.site-title {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.nav-right {
  display: flex;
  gap: 4rem;
  width: auto;
  padding-left: 0;
}

.main-buttons {
  font-family: 'Georgia Pro', serif;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: black;
    text-decoration:none;
}


.main-content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-bottom: 0;
}

.intro {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    margin-left: 5vw;
    margin-bottom: 2vh;
    top: 0.5rem;
    align-items: center;
  justify-content: center;
}

.intro-title {
  position: fixed;
  bottom: 0px;
  left: 2rem;
  font-size: 7rem;
  font-weight: 500;
  letter-spacing:-0.2px;
  color: black;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

.experiments-wrapper {
  display: flex;
  width: 100%;
  height: 80vh;
  margin-top: 5vh;
}

.title-column {
  width: 30%;
  padding-left: 5vw;
}

.experiment-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Georgia Pro', serif;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.experiment-list li {
  cursor: pointer;
  transition: color 0.3s;
}

.experiment-list li:hover {
  color: blue;
}

.media-column {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.media-display {
  text-align: center;
  position: relative;
}

#main-media, #main-video {
  max-width: 50vw;
  max-height: 60vh;
}

#p5-container {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  border: 1px solid #ddd;
}

.caption {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.bird-nav {
  position: fixed;
  top: -0.2rem;
  left:50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  z-index: 1000;
}

.bird {
  width: 25px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s;
}

.bird-h {
  width: 18px;
}
